body{
    background-color: black;
}
.contact-img{
    width: 400px;
}
@media only screen and (max-width: 978px) {
 .contact-img{
     width:250px;
 }
    .navbar-collapse{
        background-color: black;
       
    }
      }